[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "bundle/nerdcommter"]
	path = bundle/nerdcommter
	url = http://github.com/scrooloose/nerdcommenter
