[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "bundle/nerdcommter"]
	path = bundle/nerdcommter
	url = http://github.com/scrooloose/nerdcommenter
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = http://github.com/hallettj/jslint.vim
[submodule "bundle/desertEx"]
	path = bundle/desertEx
	url = http://github.com/vim-scripts/desertEx
